.full-width {
    width: 100%;
}

.recipeItem {
    position: relative;
    cursor: pointer;
}

.recipe-selected {
    color: green;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
}