* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

a.nostyle:link, a.nostyle:visited  {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}